.meeting-container{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content:center;
    margin: auto;
    margin-top: 200px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 2rem;
    width: 40%;
  }
  
  .modal input{
    color: white;
    width: 100%;
    margin-bottom: 1rem;
  }
  .modal textarea {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .modal-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }