body {
    background-image: url('https://wallpaperaccess.com/full/640760.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    margin:auto;
}

.registration-page button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3E3D39;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
  
.registration-page button:hover {
    background-color: #5B5A55;
}
  